.mainPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://pbs.twimg.com/media/EBzi8h1XsAA2eOI.jpg) no-repeat;
  background-size: cover;
}
.wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: blueviolet;
  display: flex;

  flex-direction: row;

  justify-content: flex-start;


  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

}
.left,
.middle,
.right {
  
  position: relative;
 
  background-color: green;

}
