.mainPage {
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://pbs.twimg.com/media/EBzi8h1XsAA2eOI.jpg) no-repeat;
  background-size: cover;
}
.wrap {
  position: absolute;
  background-color: rgba(137, 43, 226, 0.397);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
  width: 1860px;
  height: 900px;
}
.left,
.middle,
.right {
  position: relative;
  display: flex;
  flex-direction: column;
}
.middle {
  width: 800px;
}
.fLeft,
.mLeft,
.rLeft {
  position: relative;
  position: relative;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.fLeft
{
  background-image: url(https://pbs.twimg.com/media/EEUnYBWU8AACle4.jpg);

}
.link-image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
