.wrapper1 {
  display: flex;
  flex-direction: column;
}
.firstCol,
.middleCol,
.lastCol {
  width: 28%;
  height: 288px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  top: 30px;
  position: relative;
  background: url(https://images-na.ssl-images-amazon.com/images/I/81wu-HcQorL._RI_.jpg);
  color: aliceblue;
}
.middleWrapper {
  background-color: lawngreen;
  position: absolute;
  height: 710px;
  width: 768px;
  top: 120px;
  left: 576px;
}
.wrapper2 {
  display: flex;
  position: absolute;
  top: 30px;
  right: 0px;
  flex-direction: column;
}
.firstLeftCol,
.middleLeftCol,
.lastLeftCol {
  width: 28%;
  height: 288px;
  background-color: rgb(42, 157, 165);
  color: rgb(16, 51, 82);
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 1360px;
}

.mainPage {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://pbs.twimg.com/media/EBzi8h1XsAA2eOI.jpg) no-repeat;
  background-size: cover;
}
