.mainPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://pbs.twimg.com/media/EBzi8h1XsAA2eOI.jpg) no-repeat;
  background-size: cover;
}
.wrap{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: blueviolet;
}
.left, .middle, .right{
  background-color: chartreuse;
  position: relative;
}