.wrapper1 {
    display: flex;
    flex-direction: column;
}
.firstCol,
.middleCol,
.lastCol {
  width: 28%;
  height: 288px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  top: 30px;
  position: relative;
  background-color: brown;
  color: aliceblue;
 
}
.wrapper2 {
    display: flex;
}
.firstLeftCol,
.middleLeftCol,
.lastLeftCol {
  width: 28%;
  height: 288px;
  /* top: 30px; */
  position: absolute;
  background-color: rgb(42, 157, 165);
  color: rgb(16, 51, 82);
  right: 0%;
  /* margin-right: 25px;
  margin-bottom: 25px; */
  flex-direction: column;
  display: flex;

}

.mainPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://pbs.twimg.com/media/EBzi8h1XsAA2eOI.jpg) no-repeat;
  background-size: cover;
}
